.hero
    padding: 50px 0
    &-block
        display: flex
    &-text
        flex-basis: 50%
        padding-right: 70px
        &__title
            font-size: 41px
            line-height: 55px
            margin-bottom: 38px
            +bold
            margin-top: 25px
            margin-left: -2px
        &__subtitle
            +bold
            font-size: 20px
            margin-bottom: 69px
            display: inline-block
    &-list
        margin: 0
        padding: 0
        &__item
            display: flex
            align-items: center
        &__item_mb1
            margin-bottom: 25px
        &__item_mb2
            margin-bottom: 23px
        &__item_mb3
            margin-bottom: 25px
        &__image
            margin-right: 30px
        &__text
            font-size: 14px
            line-height: 24px
            width: 237px
        &__text_mt2
            margin-top: -5px
    &-image
        width: 570px
        height: 488px
    &-image img
        margin-top: -5px
        margin-left: -5px

@media (max-width: 1200px)
    .hero
        &-block
            flex-direction: column
        &-list
            margin-bottom: 44px
            &__item_mb1
                margin-left: 10px
            &__item_mb2
                margin-left: 10px
            &__item_mb3
                margin-left: 10px
        &-text
            width: 600px
            padding-right: 0
            &__title
                margin-left: 10px
            &__subtitle
                margin-left: 10px
        &-image
            margin-left: 10px

@media (max-width: 567px)
    .hero
        padding-top: 0
        &-text
            width: 300px
            &__title
                font-size: 24px
                line-height: 1.3
                margin-bottom: 7px
                margin-top: 45px
                margin-left: 4px
            &__subtitle
                font-size: 16px
                margin-bottom: 28px
                margin-left: 5px
                width: 200px
        &-list
            &__item_mb1
                margin-bottom: 16px
                margin-left: 3px
            &__item_mb2
                margin-bottom: 15px
                margin-left: 3px
            &__item_mb3
                margin-bottom: 15px
                margin-left: 3px
            &__text
                line-height: 1.2
                font-size: 12px
            &__image
                margin-right: 15px
            &__text_mb1
                margin-top: -2px
            &__text_mb1
                margin-bottom: -2px
            &__text_mt2
                margin-top: -2px
        &-image img
            width: 290px
            height: 251px
            margin-top: -10px
            margin-left: -10px
        &-image
            width: 290px
            height: 251px