@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.container {
  width: 1170px;
  margin: auto;
}

.button {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 19px 30px 17px 30px;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding-top: 54px;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
}

.input:focus {
  border: 1px solid #ffa500;
  outline: none !important;
}

@media (max-width: 768px) {
  .container {
    width: 384px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333333;
  font-size: 13px;
  text-align: right;
  margin-bottom: 6px;
  margin-top: -2px;
}

.navbar__phone {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #333333;
}

.navbar__button {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 13px;
  margin-left: 30px;
  margin-top: -6px;
  height: 49px;
  padding-bottom: 19px;
}

@media (max-width: 567px) {
  .container {
    width: 277px;
  }
  .navbar__logo img {
    width: 91px;
    height: 44px;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 10px;
    border-radius: 5px;
    padding: 15px 26px 14px 26px;
    height: 39px;
  }
}

.hero {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 70px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 38px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-top: 25px;
  margin-left: -2px;
}

.hero-text__subtitle {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 69px;
  display: inline-block;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-list__item_mb1 {
  margin-bottom: 25px;
}

.hero-list__item_mb2 {
  margin-bottom: 23px;
}

.hero-list__image {
  margin-right: 30px;
}

.hero-list__text {
  font-size: 14px;
  line-height: 24px;
  width: 237px;
}

.hero-list__text_mt2 {
  margin-top: -5px;
}

.hero-image {
  width: 570px;
  height: 488px;
}

.hero-image img {
  margin-top: -5px;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-list__item_mb1 {
    margin-left: 10px;
  }
  .hero-list__item_mb2 {
    margin-left: 10px;
  }
  .hero-list__item_mb3 {
    margin-left: 10px;
  }
  .hero-text {
    width: 600px;
    padding-right: 0;
  }
}

@media (max-width: 567px) {
  .hero {
    padding-top: 0;
  }
  .hero-text {
    width: 300px;
  }
  .hero-text__title {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 7px;
    margin-top: 45px;
    margin-left: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
    margin-left: 17px;
    width: 200px;
  }
  .hero-list__item_mb1 {
    margin-bottom: 16px;
    margin-left: 15px;
  }
  .hero-list__item_mb2 {
    margin-bottom: 15px;
    margin-left: 15px;
  }
  .hero-list__item_mb3 {
    margin-bottom: 15px;
    margin-left: 15px;
  }
  .hero-list__text {
    line-height: 1.2;
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
  .hero-list__text_mb1 {
    margin-top: -2px;
  }
  .hero-list__text_mb1 {
    margin-bottom: -2px;
  }
  .hero-list__text_mt2 {
    margin-top: -2px;
  }
  .hero-image img {
    width: 270px;
    height: 231px;
    margin-top: -8px;
  }
  .hero-image {
    width: 270px;
    height: 231px;
    margin-bottom: -8px;
  }
}

.offer {
  background: url("../img/offer-bg.jpg") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 19px;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
  height: 65px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  margin-bottom: 13px;
}

.offer__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__footer_elem-1 {
  line-height: 1.4;
  width: 244px;
}

.offer__footer_elem-2_phone {
  margin-top: -10px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
  .offer-block {
    margin-left: 5%;
  }
  .offer__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__footer_elem-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
  .offer-block {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    padding-right: 0;
  }
}

@media (max-width: 567px) {
  .offer-block {
    width: 277px;
  }
  .offer__title {
    width: 260px;
    font-size: 18px;
    line-height: 20px;
    margin-top: 0;
    margin-left: -10px;
  }
  .offer__subtitle {
    font-size: 14px;
    margin-left: -10px;
  }
  .offer__input {
    width: 100%;
    margin-left: -10px;
    margin-top: -1px;
    font-size: 15px;
    padding-left: 23px;
  }
  .offer__button {
    margin-left: -10px;
    font-size: 14px;
    padding: 19px 63px;
    margin-bottom: 7px;
  }
  .offer__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__footer_elem-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__footer_elem-1 {
    font-size: 15px;
    width: 230px;
    margin-left: -5px;
    line-height: 24px;
    margin-bottom: 0;
  }
  .offer__footer_elem-2_p {
    margin-left: -5px;
    margin-top: 10px;
    font-size: 15px;
  }
  .offer__footer_elem-2_phone {
    margin-left: -5px;
    font-size: 15px;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}
/*# sourceMappingURL=style.css.map */