@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.container {
  width: 1170px;
  margin: auto;
}

.button {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 19px 30px 17px 30px;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding-top: 54px;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
}

.input:focus {
  border: 1px solid #ffa500;
  outline: none !important;
}

@media (max-width: 768px) {
  .container {
    width: 384px;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333333;
  font-size: 13px;
  text-align: right;
  margin-bottom: 6px;
  margin-top: -2px;
}

.navbar__phone {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #333333;
}

.navbar__button {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 13px;
  margin-left: 30px;
  margin-top: -6px;
  height: 49px;
  padding-bottom: 19px;
}

@media (max-width: 567px) {
  .container {
    width: 277px;
  }
  .navbar__logo img {
    width: 91px;
    height: 44px;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 10px;
    border-radius: 5px;
    padding: 15px 26px 14px 26px;
    height: 39px;
  }
}

.hero {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 70px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 38px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-top: 25px;
  margin-left: -2px;
}

.hero-text__subtitle {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 69px;
  display: inline-block;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-list__item_mb1 {
  margin-bottom: 25px;
}

.hero-list__item_mb2 {
  margin-bottom: 23px;
}

.hero-list__image {
  margin-right: 30px;
}

.hero-list__text {
  font-size: 14px;
  line-height: 24px;
  width: 237px;
}

.hero-list__text_mt2 {
  margin-top: -5px;
}

.hero-image {
  width: 570px;
  height: 488px;
}

.hero-image img {
  margin-top: -5px;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-list__item_mb1 {
    margin-left: 10px;
  }
  .hero-list__item_mb2 {
    margin-left: 10px;
  }
  .hero-list__item_mb3 {
    margin-left: 10px;
  }
  .hero-text {
    width: 600px;
    padding-right: 0;
  }
}

@media (max-width: 567px) {
  .hero {
    padding-top: 0;
  }
  .hero-text {
    width: 300px;
  }
  .hero-text__title {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 7px;
    margin-top: 45px;
    margin-left: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
    margin-left: 17px;
    width: 200px;
  }
  .hero-list__item_mb1 {
    margin-bottom: 16px;
    margin-left: 15px;
  }
  .hero-list__item_mb2 {
    margin-bottom: 15px;
    margin-left: 15px;
  }
  .hero-list__item_mb3 {
    margin-bottom: 15px;
    margin-left: 15px;
  }
  .hero-list__text {
    line-height: 1.2;
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
  .hero-list__text_mb1 {
    margin-top: -2px;
  }
  .hero-list__text_mb1 {
    margin-bottom: -2px;
  }
  .hero-list__text_mt2 {
    margin-top: -2px;
  }
  .hero-image img {
    width: 270px;
    height: 231px;
    margin-top: -8px;
  }
  .hero-image {
    width: 270px;
    height: 231px;
    margin-bottom: -8px;
  }
}

.offer {
  background: url("../img/offer-bg.jpg") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 19px;
  text-align: left;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
  height: 65px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  margin-bottom: 13px;
}

.offer__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__footer_elem-1 {
  line-height: 1.4;
  width: 244px;
  margin-bottom: 89px;
}

.offer__footer_elem-2_phone {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 89px;
  margin-top: 6px;
}

.offer__footer_elem-2_p {
  margin-bottom: 0px;
}

.offer-form_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
  .offer-block {
    margin-left: 5%;
  }
  .offer__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__footer_elem-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
  .offer-block {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    padding-right: 0;
  }
}

@media (max-width: 567px) {
  .offer-block {
    width: 277px;
  }
  .offer__title {
    width: 260px;
    font-size: 18px;
    line-height: 20px;
    margin-top: 0;
    margin-left: -10px;
  }
  .offer__subtitle {
    font-size: 14px;
    margin-left: -10px;
  }
  .offer__input {
    width: 100%;
    margin-left: -10px;
    margin-top: -1px;
    font-size: 15px;
    padding-left: 23px;
  }
  .offer__button {
    margin-left: -10px;
    font-size: 14px;
    padding: 19px 63px;
    margin-bottom: 7px;
  }
  .offer__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__footer_elem-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__footer_elem-1 {
    font-size: 15px;
    width: 230px;
    margin-left: -5px;
    line-height: 24px;
    margin-bottom: 0;
  }
  .offer__footer_elem-2_p {
    margin-left: -5px;
    margin-top: 10px;
    font-size: 15px;
  }
  .offer__footer_elem-2_phone {
    margin-left: -5px;
    font-size: 15px;
    margin-top: 6px;
    margin-bottom: 50px;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.modal-dailog__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin: auto;
  width: 290px;
  text-align: center;
  margin-bottom: 50px;
}

.modal-dailog__subtitle {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.modal__input {
  margin-bottom: 30px;
  width: 100%;
  height: 65px;
}

.modal__button {
  width: 100%;
  min-height: 70px;
  margin-bottom: 13px;
}

.modal-dailog__title-footer {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.modal-dailog__title-fotter-phone {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.to_top {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  width: 100px;
  border: 1px solid #ccc;
  background: #ffd200;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  color: #333;
  font-family: verdana;
  font-size: 11px;
}

.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.png") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  max-width: 796px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 38px;
  margin-bottom: 93px;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__image {
  margin: auto;
}

.owl-nav {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 567px) {
  .portfolio {
    padding-top: 40px;
  }
  .portfolio__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 6px;
    margin-left: 5px;
    width: 280px;
    margin-bottom: 40px;
  }
  .portfolio__arrows {
    margin-top: 45px;
  }
  .owl-stage-outer {
    width: 246px;
    height: 186px;
    margin: auto;
  }
  .owl-nav {
    margin-top: 47px;
  }
}

.price__title {
  font-size: 30px;
  ont-weight: 400;
  line-height: 45px;
  margin: auto;
  margin-bottom: 39px;
  margin-top: 34px;
  width: 515px;
}

.price__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 50px;
  text-align: center;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 30px;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image:before {
  opacity: 1;
}

.card__text {
  padding: 25px 40px 40px 40px;
}

.card__title {
  margin-top: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 14px;
}

.card__image {
  position: relative;
}

.card__image:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__image img {
  display: block;
}

.card__link {
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transform: 0.2s;
          transform: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 567px) {
  .price__title {
    font-size: 18px;
    font-weight: 400;
    width: 242px;
    line-height: 21px;
    margin-top: -5px;
  }
  .price__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    margin-top: -31px;
    margin-left: -10px;
  }
  .card {
    width: 271px;
    height: 300px;
  }
  .card__image {
    width: 271px;
    height: 191px;
  }
  .card__image img {
    width: 271px;
    height: 191px;
  }
  .card__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    margin-top: -10px;
    margin-bottom: -1px;
    width: 208px;
    margin-left: -10px;
  }
  .card__link {
    font-weight: 400;
    line-height: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .price__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card {
    margin-right: 30px;
  }
}

@media (min-width: 567px) and (max-width: 768px) {
  .price__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.step {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  position: relative;
  padding-bottom: 80px;
}

.step:after {
  content: '';
  width: 72px;
  height: 25px;
  position: absolute;
  background: url("../img/steps/arrow.png") no-repeat center;
  top: -10px;
  right: -15%;
}

.step:last-child:after {
  display: none;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.step__text {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: -3px;
}

.steps__text {
  font-size: 14px;
  min-width: 160px;
  margin: auto;
}

.steps__title {
  margin: auto;
  margin-bottom: 59px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  width: 661px;
  margin-top: 40px;
}

.steps__subtitle {
  text-align: center;
  margin-bottom: 58px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-weight: 400;
  line-height: 45px;
  margin-top: -21px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .step {
    margin-bottom: 30px;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .steps__title {
    max-width: 500px;
  }
}

@media (max-width: 1200px) {
  .step {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 567px) {
  .step {
    margin-bottom: 18px;
  }
  .steps__title {
    font-size: 18px;
    font-weight: 400;
    width: 243px;
    line-height: 22px;
    margin-top: -62px;
  }
  .steps__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    margin-top: -50px;
    margin-bottom: 20px;
  }
  .step__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-top: -10px;
  }
}

.brif {
  background-image: url("../img/brif/brif-color-bg.png"), url("../img/brif/brif-bg.jpg");
  background-position: left center, right center;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 200px;
  text-align: center;
}

.brif__input {
  margin-left: -70px;
  width: 370px;
  height: 65px;
  margin-bottom: 15px;
}

.brif__button {
  height: 70px;
  margin-left: -70px;
  width: 370px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.interview {
  padding-right: 70px;
}

.interview__title {
  margin-bottom: 45px;
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 33px;
  width: 600px;
  margin-top: 45px;
}

.interview__subtitle {
  display: block;
  margin-botton: 94px;
  font-size: 16px;
}

.interview-list {
  list-style: none;
  padding: 0;
  margin-top: 92px;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 25px;
}

.interview-list__counter {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  width: 35px;
  height: 35px;
  border: 2px solid #000000;
  border-radius: 50%;
}

.interview-list__text {
  max-width: 400px;
  font-size: 18px;
}

.form__box {
  margin-top: 50px;
}

.form__title {
  margin-bottom: 50px;
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-left: -71px;
  margin-top: 44px;
  line-height: 33px;
}

.form__subtitle {
  display: block;
  font-size: 16px;
  margin-left: -71px;
  margin-top: -8px;
}

.form__description {
  display: block;
  font-size: 15px;
  margin-left: -75px;
  margin-top: -2px;
}

@media (max-width: 1200px) {
  .brif__form {
    padding-left: 30px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    min-width: 300px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
  .form__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .form__subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .brif {
    background-image: url("../img/brif/brif-color-bg.png"), url("../img/brif/brif-bg.jpg");
    background-position: top center, bottom center;
    background-size: 100% 55%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    margin-top: 80px;
    padding-left: 0;
  }
  .brif__input {
    margin-left: 0;
  }
  .brif__button {
    margin-left: 0;
  }
  .interview-list__counter {
    min-width: 35px;
    height: 35px;
  }
  .interview__title {
    max-width: 515px;
    margin-left: 20px;
  }
  .interview_subtitle {
    margin-left: 20px;
  }
  .interview-list {
    margin-left: 20px;
  }
  .form__title {
    width: 100%;
    margin-left: 0;
  }
  .form__subtitle {
    margin-left: 0;
  }
  .form__description {
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .interview__title {
    width: auto;
    max-width: 515px;
    margin-left: 20px;
  }
  .interview_subtitle {
    margin-left: 20px;
  }
  .interview-list {
    margin-left: 20px;
  }
  .form__title {
    margin-left: 0;
  }
  .form__subtitle {
    margin-left: 0;
  }
  .form__description {
    margin-left: 0;
  }
  .brif__input {
    margin-left: 0;
  }
  .brif__button {
    margin-left: 0;
  }
}

@media (max-width: 567px) {
  .brif {
    background-image: url("../img/brif/brif-color-bg.png"), url("../img/brif/brif-bg.jpg");
    background-position: top center, bottom center;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .interview__title {
    font-size: 18px;
    width: 216px;
    line-height: 22px;
    margin-top: -18px;
    margin-left: 0;
    margin-bottom: 12px;
  }
  .interview_subtitle {
    font-size: 14px;
    margin-left: 0;
  }
  .interview-list {
    margin-left: 0;
    margin-top: 35px;
  }
  .interview-list__text {
    margin-left: -10px;
    min-width: 231px;
  }
  .form__title {
    font-size: 18px;
    line-height: 25.35px;
    margin-top: 72px;
    margin-bottom: 30px;
  }
  .form__subtitle {
    font-size: 14px;
    margin-bottom: 0;
  }
  .form__description {
    width: 145px;
    line-height: 24px;
    margin: auto;
  }
  .form__box {
    margin-top: 33px;
  }
  .brif__input {
    width: 275px;
    height: 65px;
    margin-bottom: 8px;
  }
  .brif__button {
    width: 275px;
    height: 70px;
    margin-top: 0;
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */